<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title start svg path
    body
        .container
            svg
                path
            .element
        script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js")
        script(defer)
            include ./js/d3.js