<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title start svg path
    body
        .slider
            - var n = 5;
            while n--
                div(class="slide slide"+(5-n))
                    span TEXT
        a.arrow.arrow-left(href="javascript:void(0);")
        a.arrow.arrow-right(href="javascript:void(0);")
        .dots-wrapper
        script(defer)
            include ./js/slider.js

